#image-card{
    border: none;
}

h3{
    text-align: center;
    padding: 5px;
}

.container-fluid{
    text-align: center;
    margin-bottom: 3rem;
}

.list-group-item {
    padding: 0.75rem 0rem;
}

#text{
    padding:5px;
}

footer{
    position: fixed;
    bottom: 0;
    padding-left: 2vh;
    height: 5vh;
}

#postbutton{
    margin-right: 2vw;
}